<% provide(:title, 'How it works') %>
<h1>How it works</h1>

<p> 
	Cupidly gathers information important to your relationship, analyzes it, and automatically sends you alerts for when a gift is about to ship. All you need to do is to confirm the gift delivery address and time.
</p>

