<h1>Our pledge</h1>

<p>
	The Cupidly pledge is our promise to you that we will do everything in our ability to help your significant other happy. If at any time and your significant other decides to part ways, we will offer you a complete refund. 
</p>