<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="havbar-inner">
		<div class="container">
			<%= link_to "Cupidly", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "HOW IT WORKS", howitworks_path %></li>
					<li><%= link_to "OUR PLEDGE", ourpledge_path %></li>
					<li><%= link_to "LOG IN", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>